.header-caption {
    position: absolute;
    right: 60px;
    // top: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: #FFEE33;
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: 24px;

    a:hover {
        text-decoration: none;
    }
}

.trend,
.videos {

    img{
        max-width: 100%;
        height: auto;
    }
}

.logo-link {
    img {
        width: 89px;
        height: 48px;
    }
}

.trend #intro {
    padding-top: 120px;
}

#header {
    top: 0;
    display: flex;
    align-items: center;
    height: 100px;
}

.svg-items {
    display: none;
}


#say-hello-starter.trends-page .trends-foot {
    max-width: 1000px;
    font-size: 35px;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: -0.07px;
    color: #020B15;
    padding-bottom: 12px;
}

.trends-foot-wrapper {
    display: block;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

#say-hello-starter .trends-foot .link-text{
    display: inline-block;
    position: relative;
    font-size: 35px;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: -0.07px;
    color: #020B15;
    text-decoration: none;
    pointer-events: all;
}

.trends-page #intro-spinner {
    right: -160px;
    bottom: -88px;
}

#say-hello-starter.trends-page .spinner .wrapper {
    width: 479px;
    height: 535px;
}

#say-hello-starter .yellow-block-text {
    padding: 0;
}

#say-hello-starter.trends-page .spinner {
    bottom: -260px;
}

#say-hello-starter.trends-page .container {
    padding-top: 70px;
    padding-bottom: 70px;
}

#lineText {
    opacity: .5;
    transition: all 1s ease-in-out;
    transform: translate3d(0, 30px, 0);
}

#lineText .link-text {
    transition: all 1s ease-in-out;
    &::after {
        transition: all 1s ease-in-out;
        width: 0;
    }
}

#lineText.active  {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    .link-text {
        &::after {
            width: 100%;
        }
    }
}

#say-hello-starter .trends-foot .link-text::after {
    bottom: -8px;
}

#say-hello-starter.trends-page .container {
    max-width: 100%;
    margin-left: 60px;
}

#intro.trends-page {
    padding-top: 215px;
    min-height: auto;
    overflow: visible;
}

#intro-spinner .wrapper {
    height: 389px;
    width: 391px;
}

#say-hello-starter .wrapper {
    height: 427px;
    width: 431px;
}

#say-hello-starter .spinner {
    bottom: -274px;
    right: -144px;
}

.videos {
    padding-top: 170px;
    padding-bottom: 270px;
    overflow: hidden;
}

.videos-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video-item {
    width: 400px;

    .plyr {
        width: 100%;
        height: 400px;
    }

    &:first-child {
        width: 571px;
        margin-bottom: 70px;
        .plyr {
            height: 600px;
        }
    }

    &:nth-child(2) {
        width: 462px;
        margin-top: 100px;

        .plyr {
            height: 312px;
        }
    }

    &:nth-child(3) {
        width: 583px;
        margin-bottom: 30px;
        margin-left: -20px;

        .plyr {
            height: 422px;
        }
    }

    &:nth-child(4) {
        width: 459px;
        margin-top: -140px;
        .plyr {
            height: 474px;
        }
    }

    &:nth-child(5) {
        width: 400px;
        margin-top: 80px;
        margin-left: 50px;

        .plyr {
            height: 383px;
        }
    }

    &:nth-child(6) {
        width: 571px;
        margin-right: 20px;

        .plyr {
            height: 327px;
        }
    }
}

.video-title {
    color: #DDE6F3;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.14px;
    line-height: 33px;
    margin-top: 15px;
}
.video-subtitle {
    color: #DDE6F3;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.09px;
    line-height: 22px;

}

.sections-wrapper {
    overflow: hidden;
}

#say-hello-starter.trend-page-hello .btn {
    justify-content: center;
    font-size: 55px;
}

#say-hello-starter.trends-page {
    overflow: visible;
}

.plyr .plyr__controls { display: none }
.plyr .plyr__control.plyr__control--overlaid,
.plyr .plyr--paused .plyr__control.plyr__control--overlaid{
    display: none;
}

#say-hello-starter.trend-page-hello .container {
    padding: 45px 20px;
    text-align: center;
    max-width: 100%;
}

.video-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
}

.video-wrapper {
    position: relative;
}

.trend {
    padding-bottom: 60px;
}

.iframe-hover-circle {
    width: 0 !important;
    height: 0 !important;
}

.iframe-hover-main {
    width: 50px !important;
    height: 50px !important;
}

.video-wrapper {
    display: block;
    cursor: pointer;

}

.trend-wrapper {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 25px;
}

.trend-content {
    padding-top: 15px;
    overflow: hidden;
}

@keyframes big {
    
    0% {
        filter: blur(10px);
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
        transform: none;
    }
}

.trend-big-video {
    margin-top: 30px;
    opacity: 0;

    &.animated {
        animation: big 0.4s ease-out 0.2s 1 forwards;
    }
}

.video-item {
    &.animated {
        animation: big 0.4s ease-out 0.2s 1 forwards;
    }
}

.trend-page#intro {
    min-height: auto;
    overflow: visible;
}

.trend-inner {
    padding-top: 40px;
    padding-bottom: 70px;
    max-width: 680px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
}
.trend-item {
    margin-bottom: 45px;
}
.trend-text {
    margin-bottom: 45px;
    p{
        color: #DDE6F3;
        font-size: 18px;
        letter-spacing: -0.1px;
        line-height: 32px;
    }
}
.trend-title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.17px;
    line-height: 32px;
    margin-bottom: 10px;
}

.trend-video-caption {
    color: #D3E0F3;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.09px;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
}

.trend-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.1px;
    line-height: 24px;
    color: #DDE6F3;

    .arrow-x {
        height: 37px;
        width: 80px;
        margin-right: 8px;
        margin-left: 8px;
    }
}


.trend-arrow-prev,
.trend-arrow-next {
    color: #DDE6F3;
    display: flex;
    align-items: center;

    
    &:hover {
        text-decoration: none;
    }
}

.trend-arrow-prev {
    img {
        margin-right: 7px;
    }
}

.trend-arrow-next {
    img {
        margin-left: 7px;
    }
}

@media (max-width: 1259px) {
    .header-caption {
        right: 30px;
    }
}

@media (max-width: 1280px) {
    #say-hello-starter.trends-page .container {
        margin-left: 0;
    }
    #say-hello-starter.trends-page .spinner svg {
        fill: #ffffff;
        opacity: 1;
    }

    #say-hello-starter.trends-page .spinner .wrapper {
        opacity: 1;
    }

    #say-hello-starter.trends-page .trends-foot {
        padding-right: 300px;
        max-width: 100%;
    }
    
    .videos {
        .video-item {
            width: 45%;
        }
    }

    .video-item {
        &:nth-child(4) {
            margin-top: 70px;
        }
        
        &:nth-child(5) {
            margin-top: 65px;
            margin-left: 10px;
        }
        
        &:nth-child(6) {
            margin-top: 95px;
        }

    }
}

@media (max-width: 992px) {
    
    #say-hello-starter.trends-page .spinner .wrapper {
        height: 184px;
        width: 185px;
        // opacity: .76;
    }

    #say-hello-starter.trends-page .spinner {
        right: -110px;
        bottom: 195px;
    }

    #say-hello-starter.trends-page .trends-foot {
        font-size: 26px;
        line-height: 36px;
        padding-right: 0;
        .link-text {
            font-size: 26px;
            line-height: 36px;
        }
    }
    .videos {
        padding-bottom: 85px;
        padding-top: 30px;
        .video-item {
            width: 100%;
            height: 100%;
            margin: 0;
            margin-bottom: 40px;
        }
    }

    .video-title {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: -0.11px;
        line-height: 27px;
        margin-top: 8px;
    }

    .video-subtitle {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.08px;
        line-height: 19px;
    }


    
    .logo-subtitle {
        font-size: 10px;
        margin-left: 0;
    }
}


#header {
    background-color: #020B15;
}

@media (min-width: 1439px) {
    #say-hello-starter.trends-page .container {
        margin: 0 auto;
        max-width: 1332px;
    }

    #lineText {
        margin-left: 50px;
    }

    #say-hello-starter.trends-page .trends-foot {
        max-width: 100%;
    }
}

@media (max-width: 1260px) {
    .trends-page #intro-spinner {
        right: -184px;
        bottom: -184px;
    }

    .trends-page#intro .container {
        max-width: 900px;
    }
}

.videos {
    .video-item {
        img {
            display: none;
        }   
    }
}

@media (max-width: 768px) {
    .videos {
        .video-item .plyr {
            display: none;
        }
        .video-item {
            
            img {
                display: block;
                width: 100%;
            }   
        }
    }
    
    
    #say-hello-starter.trend-page-hello .btn {
        font-size: 24px;
        line-height: normal;
    }
    
    #header {
        height: 97px;
    }
    
    .trend-page  {
        #intro-text {
            font-size: inherit;
            line-height: normal;

            & > span {
                font-size: 40px;
                line-height: 55px;
            }
    
            small {
                font-size: 20px;
                line-height: 27px;
            }
        }

    }

    .trend-content {
        padding-top: 0;
    }
    
    .logo-link {
        img {
            width: 89px;
            height: 44px;
        }
    }
    
    #say-hello-starter .wrapper {
        height: 163px;
        width: 165px;
    }
    
    .trends-page #intro-text {
        max-width: 100%;
    }
    
    .trends-page #intro-spinner {
        right: -107px;
        bottom: -125px;
    }

    #say-hello-starter.trends-page .spinner {
        display: none;
    }
    
    #say-hello-starter.trends-page .container {
        padding: 40px 25px;
    }

    #say-hello-starter.trend-page-hello .spinner {
        bottom: -77px;
        right: -72px;
    }
    
    
    #say-hello-starter.trend-page-hello .container {
        padding: 26px 20px;
    }

    
    
    .trend-inner {
        padding-bottom: 45px;
    }
    .trend-arrows {
        
        .arrow-x {
            height: 22px;
            width: 35px;
        }
    }
    
    .trend #intro-text {
        max-width: 100%;
    }
    .trend-title {
        font-size: 22px;
        font-weight: 600;
        letter-spacing: -0.13px;
        line-height: 42px;
        margin-bottom: 5px;
    }

    .trend-video-caption {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.08px;
        line-height: 20px;
    }

    .trend-text {
        font-size: 16px;
        letter-spacing: -0.09px;
        line-height: 28px;
    }

    .trend-item {
        margin-bottom: 45px;
    }
    
    .videos {
        padding-top: 0;
    }
    .trends-page #intro-text {
        margin-bottom: 50px;
    }
    #intro.trends-page {
        min-height: auto;
        padding-top: 140px;
    }

    #intro-spinner {
        bottom: 0;
        .wrapper {
            height: 178px;
            width: 178px;
            
        }
    }
    #say-hello-starter.trends-page .trends-foot {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.03px;
        line-height: 26px;
        .link-text {
            font-size: 16px;
            font-weight: 300;
            letter-spacing: -0.03px;
            line-height: 26px;
        }
    }

    .video-item {
        &:first-child {
            .plyr {
                height: 330px;
            }
        }
        &:nth-child(2) {
            .plyr {
                height: 232px;
            }
        }
        &:nth-child(3) {
            .plyr {
                height: 330px;
            }
        }
        &:nth-child(4) {
            .plyr {
                height: 232px;
            }
        }
        &:nth-child(5) {
            .plyr {
                height: 330px;
            }
        }
        &:nth-child(6) {
            .plyr {
                height: 232px;
            }
        }
    }
}

@media (max-width: 480px) {
    .trends-page {
        #intro-text {
            small {
                display: inline-block;
                font-size: 18px;
                letter-spacing: -0.1px;
                line-height: 24px;
                margin-bottom: 10px;
            }

            font-size: 44px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 61.6px;
}
    }
}

@media (min-width: 1439px) and (max-width: 1740px) {
    #lineText {
        margin-right: 288px;
    }
}

@media (min-width: 993px) and (max-width: 1438px) {
    #lineText {
        margin-right: 40px;
    }
}


[data-aos="blur-fade"] {
    filter: blur(10px);
    opacity: 0;
    transform: translateY(50px);
    transition-property: filter, transform, opacity;
    &.aos-animate {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 768px) and (pointer: fine) {
    body.custom-mouse #mouse:after {
        text-align: center;
    }
}
