.header-caption {
  position: absolute;
  right: 60px;
  top: 30px;
  z-index: 10;
  color: #FFEE33;
  font-size: 18px;
  letter-spacing: -0.1px;
  line-height: 24px;
}

.header-caption a:hover {
  text-decoration: none;
}

.logo-link {
  width: 89px;
}

#header {
  top: 0;
}

.svg-items {
  display: none;
}

.logo-subtitle {
  color: #FFF034;
  font-family: Rockwell;
  font-size: 13px;
  font-style: italic;
  letter-spacing: 1.1px;
  line-height: 16px;
  display: inline-block;
  margin-left: -10px;
}

.logo-subtitle:hover {
  text-decoration: none;
}

#say-hello-starter.trends-page .trends-foot {
  max-width: 1000px;
  font-size: 35px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: -0.07px;
  color: #020B15;
  padding-bottom: 12px;
}

#say-hello-starter .trends-foot a {
  display: inline-block;
  position: relative;
  font-size: 35px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: -0.07px;
  color: #020B15;
  text-decoration: none;
  pointer-events: all;
}

#say-hello-starter.trends-page .spinner .wrapper {
  width: 479px;
  height: 535px;
  opacity: .26;
}

#say-hello-starter .yellow-block-text {
  padding: 0;
}

#say-hello-starter.trends-page .spinner {
  bottom: -260px;
}

#say-hello-starter.trends-page .container {
  padding-top: 70px;
  padding-bottom: 70px;
}

#say-hello-starter .trends-foot a::after {
  bottom: -8px;
}

#say-hello-starter.trends-page .container {
  max-width: 100%;
  margin-left: 60px;
}

#intro.trends-page {
  padding-top: 215px;
}

.videos {
  padding-top: 100px;
  padding-bottom: 270px;
  overflow: hidden;
}

.videos-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.video-item {
  width: 400px;
}

.video-item .plyr {
  width: 100%;
  height: 400px;
}

.video-item:first-child {
  width: 571px;
  margin-bottom: 70px;
}

.video-item:first-child .plyr {
  height: 600px;
}

.video-item:nth-child(2) {
  width: 462px;
  margin-top: 100px;
}

.video-item:nth-child(2) .plyr {
  height: 312px;
}

.video-item:nth-child(3) {
  width: 583px;
  margin-bottom: 30px;
  margin-left: -20px;
}

.video-item:nth-child(3) .plyr {
  height: 497px;
}

.video-item:nth-child(4) {
  width: 459px;
  margin-top: -140px;
}

.video-item:nth-child(4) .plyr {
  height: 474px;
}

.video-item:nth-child(5) {
  width: 400px;
  margin-top: 80px;
  margin-left: 50px;
}

.video-item:nth-child(5) .plyr {
  height: 383px;
}

.video-item:nth-child(6) {
  width: 571px;
  margin-right: 20px;
}

.video-item:nth-child(6) .plyr {
  height: 327px;
}

.video-title {
  color: #DDE6F3;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.14px;
  line-height: 33px;
  margin-top: 15px;
}

.video-subtitle {
  color: #DDE6F3;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.09px;
  line-height: 22px;
}

.sections-wrapper {
  overflow: hidden;
}

#say-hello-starter.trends-page {
  overflow: visible;
}

.plyr .plyr__controls {
  display: none;
}

.plyr .plyr__control.plyr__control--overlaid,
.plyr .plyr--paused .plyr__control.plyr__control--overlaid {
  display: none;
}

.trend {
  padding-bottom: 60px;
}

.video-wrapper {
  display: block;
}

.trend-wrapper {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 25px;
}

.trend-content {
  padding-top: 30px;
  overflow: hidden;
}

@keyframes big {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.trend-big-video {
  margin-top: 30px;
  animation: big 2s ease-out forwards;
  -webkit-animation: 2s big ease-in-out;
  -moz-animation: 2s big ease-in-out;
}

.trend-page#intro {
  min-height: auto;
}

.trend-inner {
  padding-top: 40px;
  padding-bottom: 70px;
  max-width: 670px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
}

.trend-item {
  margin-bottom: 40px;
}

.trend-text {
  margin-bottom: 45px;
}

.trend-text p {
  color: #DDE6F3;
  font-size: 18px;
  letter-spacing: -0.1px;
  line-height: 32px;
}

.trend-title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.17px;
  line-height: 32px;
  margin-bottom: 10px;
}

.trend-video-caption {
  color: #D3E0F3;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.09px;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
}

.trend-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.1px;
  line-height: 24px;
  color: #DDE6F3;
}

.trend-arrows .arrow-x {
  height: 37px;
  width: 80px;
  margin-right: 8px;
  margin-left: 8px;
}

.trend-arrow-prev .arrow-x::before, .trend-arrow-prev .arrow-x::after {
  left: 0;
  right: auto;
  transform: rotate(41deg);
}

.trend-arrow-prev .arrow-x::before {
  transform: rotate(-41deg);
}

.trend-arrow-prev,
.trend-arrow-next {
  color: #DDE6F3;
  display: flex;
  align-items: center;
}

@media (max-width: 1280px) {
  #say-hello-starter.trends-page .container {
    margin-left: 0;
  }
  #say-hello-starter.trends-page .spinner svg {
    fill: #ffffff;
    opacity: 1;
  }
  #say-hello-starter.trends-page .spinner .wrapper {
    opacity: 1;
  }
  #say-hello-starter.trends-page .trends-foot {
    padding-right: 300px;
    max-width: 100%;
  }
  .videos .video-item {
    width: 45%;
  }
  .video-item:nth-child(4) {
    margin-top: 70px;
  }
  .video-item:nth-child(5) {
    margin-top: 65px;
    margin-left: 10px;
  }
  .video-item:nth-child(6) {
    margin-top: 95px;
  }
}

@media (max-width: 992px) {
  #say-hello-starter.trends-page .spinner .wrapper {
    height: 184px;
    width: 185px;
    opacity: .76;
  }
  #say-hello-starter.trends-page .spinner {
    right: -110px;
    bottom: 195px;
  }
  #say-hello-starter.trends-page .trends-foot {
    font-size: 26px;
    line-height: 36px;
    padding-right: 0;
  }
  #say-hello-starter.trends-page .trends-foot a {
    font-size: 26px;
    line-height: 36px;
  }
  .videos {
    padding-bottom: 85px;
    padding-top: 30px;
  }
  .videos .video-item {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 40px;
  }
  .video-title {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.11px;
    line-height: 27px;
    margin-top: 8px;
  }
  .video-subtitle {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.08px;
    line-height: 19px;
  }
  .logo-subtitle {
    font-size: 10px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .trend-inner {
    padding-bottom: 45px;
  }
  .trend-arrows .arrow-x {
    height: 22px;
    width: 35px;
  }
  .trend #intro-text {
    max-width: 100%;
  }
  .trend-title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.13px;
    line-height: 42px;
    margin-bottom: 5px;
  }
  .trend-video-caption {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.08px;
    line-height: 20px;
  }
  .trend-text {
    font-size: 16px;
    letter-spacing: -0.09px;
    line-height: 28px;
  }
  .trend-item {
    margin-bottom: 45px;
  }
  .videos {
    padding-top: 0;
  }
  .trends-page #intro-text {
    margin-bottom: 50px;
  }
  #intro.trends-page {
    min-height: auto;
    padding-top: 140px;
  }
  #intro-spinner {
    bottom: 0;
  }
  #intro-spinner .wrapper {
    height: 178px;
    width: 178px;
  }
  #say-hello-starter.trends-page .trends-foot {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.03px;
    line-height: 26px;
  }
  #say-hello-starter.trends-page .trends-foot a {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.03px;
    line-height: 26px;
  }
  .video-item:first-child .plyr {
    height: 330px;
  }
  .video-item:nth-child(2) .plyr {
    height: 232px;
  }
  .video-item:nth-child(3) .plyr {
    height: 330px;
  }
  .video-item:nth-child(4) .plyr {
    height: 232px;
  }
  .video-item:nth-child(5) .plyr {
    height: 330px;
  }
  .video-item:nth-child(6) .plyr {
    height: 232px;
  }
}

@media (max-width: 480px) {
  .trends-page #intro-text {
    font-size: 44px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 61.6px;
  }
  .trends-page #intro-text small {
    display: inline-block;
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}
